.nav_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgb(43, 40, 40);
  padding: 10px;
}

.nav_header a {
  text-decoration: none;
  color: #fff !important;
  font-size: 20px;
}
