.hero-section {
  background: #dfe7df;
  padding: 80px 0;
}

.tag {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.hero-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-desc {
  font-size: 17px;
  opacity: 0.8;
  margin-bottom: 30px;
}

.explore-btn {
  background: #cafd01;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 600;
  border: none;
  font-size: 16px;
}

.explore-btn span {
  margin-left: 10px;
}

.social-icons i {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.8;
}

.hero-image {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* ROI Chart Card */
.chart-card {
  position: absolute;
  top: -20px;
  right: 40px;
  background: white;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.chart-text {
  font-size: 14px;
  font-weight: 700;
  color: #3cbf00;
}

.chart-line {
  width: 80px;
  height: 2px;
  background: #3cbf00;
  margin-top: 5px;
}

/* Google Review Card */
.google-card {
  position: absolute;
  bottom: -20px;
  right: 20px;
  background: #cafd01;
  padding: 20px 25px;
  border-radius: 18px;
  width: 160px;
}

.g-letter {
  font-size: 40px;
  font-weight: 700;
}

.g-title {
  margin-top: 5px;
  font-weight: 600;
}

.g-subtitle {
  font-size: 14px;
  opacity: 0.7;
}


.Aproduct{
  border: 1px solid blue;
  padding: 10px 5px;
  background-color: #3cbf00;
}



/* API Css */
.user-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}